@use "_variables" as *;

/* Footer */
footer {
    background: $primary-color;
    color: $primary-light;
    padding: $spacing-sm $spacing-lg;
    margin-top: $spacing-2xl;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-sm;
}

.footer-inner p {
    color: $white;
}

footer a {
    color: $primary-light;
    text-decoration: none;
    margin-left: $spacing-sm;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: $breakpoint-tablet) {
    .footer-inner {
        flex-direction: column;
        align-items: flex-start;
    }
}
