@use "../_variables" as *;
@use "../utilities/extend" as *;

.description-box {
    @extend %card-elevated;
    max-width: 800px;
    margin: $spacing-xl;
    padding: $spacing-lg;
    background: $background-card;
    border-radius: $border-radius-xl;
    font-family: $font-family-primary;
}